@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenica';
    src: url('../assets/fonts/ArsenicaTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delicate Elegance';
    src: url('../assets/fonts/DelicateElegance-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}